* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: rgb(100,69,106);
  background: radial-gradient(circle , rgba(100,69,106,1) 0%, rgba(0,8,47,1) 20%, rgba(0,7,40,1) 40%, rgba(1,0,11,1) 100%);
  background-size: cover;
  font-family: 'Bungee Inline', cursive;
  position: relative;
  perspective: 500px;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%; 
}

.icon {
  width: 42px;
  height: 42px;
  margin-right: 5px;
}

img.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 3.7px;
}

h1 {
  font-size: 32px;
  color: cyan;
  margin: 8px 0;
  font-size: 30px;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  text-shadow: 
      1px -1px 0 #2f5d87,
      2px -2px 0 #2e5a83, 
      3px -3px 0 #2d5880;
  animation: neon 3s alternate infinite ease-in-out;
}

@keyframes neon {
  from {
    filter: drop-shadow( 0 0 0 cyan);
  }
  to{
    filter: drop-shadow(0 5px 10px cyan);
  }
}

.descricao {
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.8;
  font-size: 24px;
  letter-spacing: 6px;
  text-shadow: #a166ab -2px 0 , cyan 1px 0 ;
  transition: text-shadow 200ms;
}


ul {
  list-style: none;
  margin-top: 30px;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  background: #00082F;
  margin-bottom: 16px;
  border-radius: 50px;
}


footer {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a{
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  transform: rotatex(10deg);
  animation: rotateAngle 6s linear infinite;
}

@keyframes rotateAngle {
  0% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
 }
  25% {
    transform: rotateY(15deg) rotateX(10deg);
 }
  50% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
 }
  75% {
    transform: rotateY(-15deg) rotateX(10deg);
 }
  100% {
    transform: rotateY(0deg) rotateX(10deg);
 }
}
.bn29 {
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: black;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.60);
  box-shadow: -10px 15px 15px rgba(0, 0, 0, 1);
}

.bn29:before,
.bn29:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: -webkit-linear-gradient(
    70deg,
   #a166ab, 
   #5073b8,
   #1098ad
  );
}

.bn29:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.bn29:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.bn29:hover:before {
  width: 115%;
  height: 115%;
}


.icon2 {
  width: 200px;
  height: 150px;
} 


.bn31 {
  height: 53px;
  background-image: linear-gradient(70deg,  #d900ff 0%,  #0055ff 60%, #00ddff 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color:  white;
  display: block;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 100% ;
  z-index: 2;
  text-shadow: 3px 3px 10px rgba(133, 133, 133, 0.548);
  box-shadow: -10px 15px 15px rgba(0, 0, 0, 1);
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: #00082f;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}